.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95dvh;
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.welcome-title {
    font-size: 2.5em;
    color: #333;
}

.welcome-subtitle {
    font-size: 1.5em;
    color: #555;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.custom-button {
    width: 150px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
    border-radius: 5px;
    color: white;
}

.custom-button:hover {
    transform: translateY(-2px);
}